@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap");

*,
*::before,
*::after {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

:root {
    font-size: 16px;
}

body {
    font-family: "Roboto", sans-serif;
    background-color: #eee;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
}

.button {
    font-size: 50px;
    background-color: blue;
    color: white;
}

.button:hover {
    background-color: #eee;
    color: blue;
}

.banner,
.footer {
    color: white;
    display: flex;
    height: auto;
    background-color: blue;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
}

.footer {
    display: flex;
    justify-content: center;
}

#flexbox {
    display: flex;
}

input {
    gap: 20px;
    font-size: 20px;
    padding: 20px;
}

.banner a,
#welcome,
.footer h1 {
    text-decoration: none;
    color: white;
    text-align: center;
    margin: 20px;
    font-size: 3rem;
}

@media (max-width: 530px), (max-height: 750px) {
    .banner {
        font-size: 20px;
    }

    .button {
        font-size: 20px;
    }

    body {
        background-color: white;
    }
}
