@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap");

*,
*::before,
*::after {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

:root {
  font-size: 16px;
}
/* start of header upmake*/
header {
  color: white;
  background-color: blue;
  width: 100%;
  font-size: 3rem;
  display: flex;
  justify-content: space-between;
}

#menu {
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  gap: 20px;
}

#welcome {
  text-decoration: none;
  color: white;
  text-align: center;
  margin: 20px;
  font-size: 3rem;
}

header a {
  text-decoration: none;
  color: white;
  background-color: blue;
  padding: 5px;
  margin: 10px;
}

header a:hover {
  background-color: white;
  color: blue;
}

/* end of header upmake*/
/* start of body upmake*/
body {
  font-family: "Roboto", sans-serif;
  background-color: #eee;
  height: 100vh;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
}

/* end of body upmake*/
/* start of main upmake*/
main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
/* end of main upmake*/
/* begin of button upmake*/

.button {
  background-color: blue;
  color: white;
  padding: 0px 10px;
  font-size: 1.5rem;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.button:hover {
  background-color: #eee;
  color: blue;
}
/* end of button upmake*/
/* begin of form upmake*/
form {
  background-color: white;
  padding: 20px;
}

#flexbox {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

#select-hours {
  display: flex;
  flex-direction: column;
  text-align: center;
}

#select-hours > label {
  font-size: 1.5rem;
  text-align: start;
  padding: 10px;
}

input {
  gap: 20px;
  font-size: 1.5rem;
  padding: 10px;
}

.file {
  display: flex;
  justify-content: center;
}

.file > input[type="file"]::-webkit-file-upload-button {
  visibility: hidden;
}
.file > input[type="file"] {
  border: 1px solid black;
}
input[type="number"] {
  text-align: center;
  border: 1px solid black;
}

#upload {
  border: none;
  font-size: 1.5rem;
  padding: 10px;
}

/* end of form upmake*/
/*start of footer upmake*/
.footer {
  color: white;
  background-color: blue;
  height: auto;
  width: 100%;
  padding: 25px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.footer a {
  color: white;
  text-decoration: none;
}

.footer a:hover {
  text-decoration: underline;
}
/*start of mobile upmake*/
@media (max-width: 530px), (max-height: 640px) {
  header {
    font-size: 20px;
  }

  #welcome {
    font-size: 20px;
  }

  body {
    background-color: white;
  }

  #flexbox {
    gap: 50px;
  }

  form {
    padding: 0px;
    width: 100%;
    padding: 5px;
  }

  .file {
    padding: 0px;
    flex-direction: column;
    align-items: center;
    gap: 5px;
  }

  #file {
    padding: 0px;
    padding-top: 15px;
    padding-bottom: 15px;
    width: 100%;
    font-size: 20px;
  }

  .button {
    width: 100%;
    justify-content: center;
    font-size: 1.5rem;
    padding: 0px;
    padding-top: 15px;
    padding-bottom: 15px;
  }
  #select-hours > label {
    text-align: center;
    padding: 0px;
    padding-top: 15px;
    padding-bottom: 15px;
  }

  input[type="number"] {
    padding: 0px;
    padding-top: 15px;
    padding-bottom: 15px;
  }

  #upload {
    padding: 0px;
    padding-top: 15px;
    padding-bottom: 15px;
  }

  #latest_uploaded_file {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }

  #latest_uploaded_file > button {
    margin-top: 5px;
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .footer {
    padding: 20px;
    font-size: 10px;
  }
}

/*end of mobile upmake*/
